<router-outlet>
  <!-- <p>Dashboard</p>

  <p>Welcome, {{ this.userDisplayName }}!</p>
  <p>{{ this.userDisplayName }}'s points: {{ this.userPoints }}</p>

  <button (click)="modifyPoints(5)" mat-fab extended>
    <mat-icon>logout</mat-icon>
    Modify points
  </button>

  <button (click)="logout()" mat-fab extended>
    <mat-icon>logout</mat-icon>
    Logout
  </button> -->
  <mat-toolbar color="primary" class="toolbar">
    <div class="center">
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="app-name">Skillscapade</h1>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="container" autosize>
    <mat-sidenav
      #sidenav
      class="sidenav"
      mode="side"
      opened="true"
      (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()"
    >
      <mat-nav-list>
        <mat-list-item (click)="switch('profile')" class="parent center">
          <mat-icon mat-list-icon fix-icons>person</mat-icon>

          <span class="full-width fix-text" *ngIf="isExpanded || isShowing"
            >User Profile</span
          >
        </mat-list-item>
        <mat-list-item (click)="switch('dashboard')" class="parent center">
          <mat-icon mat-list-icon fix-icons>home</mat-icon>

          <span class="full-width fix-text" *ngIf="isExpanded || isShowing"
            >Learning Tracks Dashboard</span
          >
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <div *ngIf="isProfile">
      <div class="profile-container">
        <p class="profile-title">Welcome, {{ this.userDisplayName }}!</p>
        <p style="padding-top: 20px; font-size: 30px; padding-bottom: 20px">
          {{ this.userDisplayName }}'s points: {{ this.userPoints }}
        </p>

        <button (click)="logout()" mat-fab extended style="max-width: 400px">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </div>

    <div *ngIf="isDashboard" class="sidenav-content">
      <mat-card
        *ngFor="let tract of tracts; index as i; first as isFirst"
        class="example-card"
      >
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url({{ tract.author_picture }});"
          ></div>
          <mat-card-title>{{ tract.title }}</mat-card-title>
          <mat-card-subtitle>by {{ tract.author }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ tract.image }}" alt="" />
        <mat-card-content>
          <p style="padding-top: 10px">
            {{ tract.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>START</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Add learning tract</mat-card-title>
          <mat-card-subtitle
            >Add your own learning tract to Skillscapade!</mat-card-subtitle
          >
        </mat-card-header>
        <img
          mat-card-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Plus_symbol.svg/500px-Plus_symbol.svg.png"
          alt="Photo of a Shiba Inu"
        />
      </mat-card>
    </div>
  </mat-sidenav-container>
</router-outlet>
